.basicText {
  font-weight: 500;
  font-size: calc(14 / 16 * 1rem);
  line-height: 1.35;
}

.caption {
  font-weight: 400;
  font-size: calc(12 / 16 * 1rem);
  color: var(--gray-text-color);
}

.header {
  font-weight: 600;
  font-size: calc(20 / 16 * 1rem);
}

.strong {
  font-weight: 600;
}
